*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:hsl(212, 45%, 89%) ;
    margin-top: 80px;
    
}
.container{
    width: 340px;
    height: 500px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding-top: 15px;
    
}
.container__img{
    margin: 0 auto;
    background-image: url(images/image-qr-code.png);
    width: 310px;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: inherit;
    margin-bottom: 25px;
      
}

h2{
    margin: 15px 25px;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-weight:700;
    font-family: 'Outfit', sans-serisf;

    
}
.container__paragrap{
    color: hsl(220, 15%, 55%);
    text-align:center;
    text-align: ;
    margin: 32px 32px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
}